*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}

.header{
	position: sticky;
	top:0;
	min-height: 100px;
	width: 100%;
	animation: slideInFromLeft 1s ease-in;
	
}

nav{
	display: flex;
	padding: 1% 2%;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #6cf, #00FF00);
}
nav img{
	width: 150px;

}
.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative
}
.nav-links ul li a{
	color: #111;
	text-decoration: none;
	font-size: 25px;
	background: #B0E0E6;
	border: 3px solid;
	border-color: #B0E0E0;

}

.nav-links ul li a:hover{

}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 30px;
	animation: slideInFromBottom 1s ease-in;
  

}
.grid-item {
	display: grid;
	grid-template-columns: 2fr;
	grid-auto-flow: column;
	
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px solid;
	border-style: outset;
	box-shadow: 0 0 0 0.35rem skyblue;
	border-color: blue;
	margin: 20px;
	border-radius: 15px 50px;
	padding: 30px;
	
	font-size: 30px;
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	

}

.grid-item:hover{
	background-color: #B0E0E6;
	transition: 1s;
}

.grid2-item{
	display: grid;
	grid-template-columns: 2fr;
	text-align: right;
	padding: 10px;

}

.grid2-item img{
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
.grid2-item a{
	font-family: 'Bungee Inline', cursive;
	font-size: 20px
}
.grid2-item h2{
	font-family: 'Bungee Inline', cursive;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
}
.grid2-item h3{
	font-family: 'Bungee Inline', cursive;
	font-size: 25px;
	color: #ff0000  
}


#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.5rem;/* Height of the footer */
	background: linear-gradient(to right, #6cf, #00FF00);
	text-align: center;
	font-size: 20px;
    animation: slideInFromRight 1s ease-in;
	
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}











$viewport_size: (
    s: 320px,
    m: 768px,
    l: 1200px
);





ul {
  list-style: none;
}

a{
	text-decoration: none;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;

}

.desktop {
  display: none;
}

.menu__icon {
  height: 32px;
  width: 43px;
  margin: 3%;
  position: absolute;
  top: 10px;
  right: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}

.menu__icon span {
  display: block;
  background: blue;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu__icon:before,
.menu__icon:after {
  content: "";
  display: block;
  background: blue;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}

.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}


.menu_shown .menu__icon span {
  background: transparent;
}

.menu_shown .menu__icon:before {
  top: 50%;
  transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
  bottom: 50%;
  transform: rotate(-45deg);
}


.mobile.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 112px;
  background: #7eb4e2;
  z-index: 10;
  transition: all .4s ease-in-out;
  transform: translateX(-100%);
}

.menu_shown .mobile.menu {
  transform: translateX(0);
}

.mobile .menu__item {
  display: block;
  line-height: 2;
  padding: 25px 0;
}

@media (min-width: map-get($viewport_size, l)) {
  nav {
    padding: 3% 6%;
    background: #7eb4e2;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}